---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitea
  labels:
    app: gitea
---
apiVersion: v1
kind: Service
metadata:
  name: gitea-postgresql
  annotations:
    description: Exposes the database server
  labels:
    app: gitea
spec:
  ports:
  - name: postgresql
    port: 5432
    targetPort: 5432
  selector:
    name: gitea-postgresql
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea-postgresql
  annotations:
    image.openshift.io/triggers: >-
        [{"from":{"kind":"ImageStreamTag","name":"postgresql:latest", "namespace":"openshift"},"fieldPath":"spec.template.spec.containers[?(@.name==\"postgresql\")].image"}]
  labels:
    app: gitea
    app.kubernetes.io/component: database
    app.kubernetes.io/instance: gitea
    app.kubernetes.io/name: gitea-postgresql
    app.kubernetes.io/part-of: gitea
    app.openshift.io/runtime: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
      name: gitea-postgresql
  template:
    metadata:
      labels:
        app: gitea
        name: gitea-postgresql
    spec:
      containers:
      - name: postgresql
        imagePullPolicy: Always
        image: postgresql:latest
        env:
        - name: POSTGRESQL_USER
          value: gitea
        - name: POSTGRESQL_PASSWORD
          value: gitea
        - name: POSTGRESQL_DATABASE
          value: gitea
        - name: POSTGRESQL_MAX_CONNECTIONS
          value: "100"
        - name: POSTGRESQL_SHARED_BUFFERS
          value: 12MB
        - name: POSTGRESQL_ADMIN_PASSWORD
          value: gitea
        ports:
        - containerPort: 5432
        livenessProbe:
          initialDelaySeconds: 30
          tcpSocket:
            port: 5432
          timeoutSeconds: 1
          failureThreshold: 10
          periodSeconds: 20
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -i
            - -c
            - psql -h 127.0.0.1 -U ${POSTGRESQL_USER} -q -d ${POSTGRESQL_DATABASE} -c 'SELECT 1'
        resources:
          limits:
            memory: 512Mi
        volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: gitea-postgres-data
      volumes:
      - name: gitea-postgres-data
        persistentVolumeClaim:
          claimName: gitea-postgres-data
---
apiVersion: v1
kind: Service
metadata:
  name: gitea
  annotations:
    description: The Gitea server's http port
    service.alpha.openshift.io/dependencies: '[{"name":"gitea-postgresql","namespace":"","kind":"Service"}]'
  labels:
    app: gitea
spec:
  ports:
  - name: 3000-tcp
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: gitea
    name: gitea
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
---
apiVersion: route.openshift.io/v1
id: gitea-http
kind: Route
metadata:
  name: gitea
  annotations:
    description: Route for application's http service.
  labels:
    app: gitea
spec:
  host: gitea.{{ ocp_ingress_domain[0] }}
  to:
    name: gitea
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea
  annotations:
    app.openshift.io/connects-to: '[{"apiVersion":"apps/v1","kind":"Deployment","name":"gitea-postgresql"}]'
  labels:
    app: gitea
    app.kubernetes.io/component: gitea
    app.kubernetes.io/instance: gitea
    app.kubernetes.io/name: gitea
    app.kubernetes.io/part-of: gitea
    app.openshift.io/runtime: git
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
      name: gitea
  template:
    metadata:
      labels:
        app: gitea
        name: gitea
    spec:
      containers:
      - name: gitea
        imagePullPolicy: Always
        image: image-registry.openshift-image-registry.svc:5000/{{ demo_namespace }}/gitea:1.16
        ports:
        - containerPort: 3000
          protocol: TCP
        volumeMounts:
        - mountPath: /gitea-repositories
          name: gitea-repositories
        - mountPath: /home/gitea/conf
          name: gitea-config
        readinessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
        livenessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
      serviceAccountName: gitea
      volumes:
      - name: gitea-repositories
        persistentVolumeClaim:
          claimName: gitea-repositories
      - configMap:
          items:
          - key: app.ini
            path: app.ini
          name: gitea-config
        name: gitea-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitea-repositories
  labels:
    app: gitea
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitea-postgres-data
  labels:
    app: gitea
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
