---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: gitea
  namespace: {{ demo_namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
  - from:
      kind: DockerImage
      name: quay.io/gpte-devops-automation/gitea:1.16
    name: "1.16"
    referencePolicy:
      type: Local
