---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: watches-eshop
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'http://gitea.{{ ocp_ingress_domain[0] }}/gitea/watches-eshop.git'
    targetRevision: master
    path: app-sets
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated: {}
